:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

body {
  background-color: #1b1b1b;
}
.container-hero {
  padding: 275px 0 300px 0;
  background-image: url("/images/hero-bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 25px;
  text-decoration: overline;
}

h2 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-top: 25px;
  line-height: 2;
}

.hero-button {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #272142;
  background-color: #fff;
  padding: 18px 30px;
  border-radius: 50px;
}

footer {
  background-color: #282323;
}

.container-button {
  margin-top: 48px;
  text-align: center;
}

.box {
  display: block;
  margin: auto 0;
  padding: 50px 25px;
}

@media (min-width: 992px) {
  .description-box {
    text-align: left;
  }
}

@media (max-width: 1062px) {
  .name {
    display: flex;
    flex-direction: column;
  }
  h1 {
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 18px;
    letter-spacing: 3px;
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }

  .container-hero {
    padding: 160px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .name {
    display: flex;
    flex-direction: column;
  }

  .hero-button {
    font-size: 10px;
    letter-spacing: 2px;
    padding: 10px 15px;
    border-radius: 25px;
  }

  .container-button {
    margin-top: 24px;
  }

  .box {
    display: block;
    margin: auto 0;
    padding: 24px 12px;
  }
}
